<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dam.moveyourschool">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".activities.CustomContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ListadoReservas"></activity>
        <activity android:name=".activities.ActividadFormSuccess" />
        <activity android:name=".activities.ActividadForm" />
        <activity android:name=".activities.ActividadDetail" />
        <activity android:name=".activities.ChatWindow" />
        <activity android:name=".activities.UserEdit" />
        <activity android:name=".activities.UserDetail" />
        <activity android:name=".activities.UsuariosList" />
        <activity android:name=".activities.Actividades" />
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SignUpSuccess" />
        <activity android:name=".activities.SignUpStep2" />
        <activity android:name=".activities.SignUpStep1" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NuevaReserva" />
    </application>

</manifest>